<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>
    <ul>
        <li>Temple Run Legends</li>
        <li>Temple Run 3</li>
        <li>Temple Run 2</li>
        <li>Temple Run 1</li>
        <li>Temple Run+</li>
        <li>Temple Run Idle</li>
        <li>Radical Heights</li>
        <li>LawBreakers</li>
        <li>Fortnite</li>
        <li>Infinity Blade Series</li>
        <li>Gears of War Judgement</li>
        <li>Gears of War 3</li>
        <li>Gears of War 2</li>
        <li>Gears of War 1</li>
        <li>Unreal Tournament 3</li>
        <li>Unreal Engine 4</li>
        <li>Unreal Engine 3</li>
        <li>Unreal Development Kit (UDK)</li>
    </ul>
</section>