<section>
    <h3>Skills</h3>
    <u>CI/CD & Build</u>
        <ul>
            <li>Jenkins</li> 
            <li>Fastlane</li>
            <li>Python-based build frameworks</li>
        </ul>

    <u>Version Control</u>
        <ul>
            <li>Perforce - P4V, P4D, Swarm</li>
            <li>Git</li>
            <li>GitHub (administration)</li>
        </ul>

    <u>Languages</u>
        <ul>
            <li>Python</li>
            <li>Bash/Shell</li>
            <li>Groovy</li>
            <li>C++</li>
            <li>HTML</li>
        </ul>

    <u>Cloud & Infrastructure</u>
        <ul>
            <li>AWS</li>
            <li>On-Prem/On-Metal</li>
            <li>Colocation</li>
        </ul>

    <u>Game Engines</u>
        <ul>
            <li>Unreal Engine</li>
            <li>Unity</li>
        </ul>

    <u>Shipped Platforms</u>
        <ul>
            <li>iOS</li>
            <li>tvOS</li>
            <li>macOS</li>
            <li>Android</li>
            <li>Windows</li>
            <li>Playstation 4</li>
        </ul>

    <u>Stores Shipped To</u>
        <ul>
            <li>Google Play Store</li>
            <li>Apple Store Connect</li>
            <li>Test Flight</li>
            <li>Apple Arcade</li>
            <li>Steam</li>
            <li>PlayStation 4</li>
        </ul>

    <u>IDEs</u>
        <ul>
            <li>PyCharm</li>
            <li>Rider</li>
            <li>VS Code</li>
            <li>Visual Studio</li>
        </ul>

    <u>Art Tools</u>
        <ul>
            <li>Affinity Designer</li>
            <li>Affinity Photo</li>
            <li>Adobe Photoshop</li>
            <li>Adobe Illustrator</li>
        </ul>

</section>
